[net]
port = 8085

[ca]
pem_relative_path = "./config/ohm.pem"
key_relative_path = "./config/ohm.key"

[db]
db_url = "mongodb://localhost:27017"
app_name = "Ohm"
db_name = "records"
collection_name = "records"
